 <div class="container">
	<h3>Drag n Drop Portal</h3>
	
	<!-- Content Here  -->
	<div id="portletcontainer" class="mcontainer">
		<div id="col1" class="col32 portalbox">
			<div id="myportlet1" class="portlet sortable" _close="0" _max="1">
				<div class="portlet-header" style="vertical-align: middle;">
				<span class="heading ">I am Portlet1 </span><span class='na-icon na-icon-gear portlet-settings'
				title="Portlet Settings"></span>
			</div>
			<div class="content">
				This is portlet1. Cannot be closed or minimized.
				<br />
			</div>
		</div>
		</div>
		<div id="col2" class="col32 portalbox">
			<div id="myportlet2" class="portlet sortable" _close="0" _max="1">
				<div class="portlet-header" style="vertical-align: middle;">
				<span class="heading ">I am Portlet2 </span><span class='na-icon na-icon-close portlet-close'
				title="Close"></span><span class='na-icon na-icon-triangle-1-s minmax' title="Minimize">
				</span><span class='na-icon na-icon-extlink popout' title="Pop-out"></span>
			</div>
			<div class="content">
				This is portlet2
				<br />
			</div>
		   </div>
			<div id="myportlet3" class="portlet sortable" _close="0" _max="1">
				<div class="portlet-header" style="vertical-align: middle;">
				<span class="heading ">I am Portlet3 </span><span class='na-icon na-icon-close portlet-close'
				title="Close"></span><span class='na-icon na-icon-triangle-1-s minmax' title="Minimize">
				</span><span class='na-icon na-icon-extlink popout' title="Pop-out"></span>
			</div>
			<div class="content">
				This is portlet3
				<br />
			</div>
		  </div>
		</div>
		<div id="col3" class="col32 portalbox">
			<div id="myportlet4" class="portlet sortable" _close="0" _max="1">
				<div class="portlet-header" style="vertical-align: middle;">
					<span class="heading ">I am Portlet4 </span><span class='na-icon na-icon-close portlet-close'
						title="Close"></span><span class='na-icon na-icon-triangle-1-s minmax' title="Minimize">
						</span><span class='na-icon na-icon-extlink popout' title="Pop-out"></span>
				</div>
				<div class="content">
					This is portlet4
					<br />
				</div>
			</div>
			<div id="myportlet5" class="portlet sortable" _close="0" _max="1">
				<div class="portlet-header" style="vertical-align: middle;">
					<span class="heading ">I am Portlet5 </span><span class='na-icon na-icon-close portlet-close'
						title="Close"></span><span class='na-icon na-icon-triangle-1-s minmax' title="Minimize">
						</span><span class='na-icon na-icon-extlink popout' title="Pop-out"></span>
				</div>
				<div class="content">
					This is portlet5
					<br />
				</div>
			</div>
		</div>
	</div>	 
	<div class="clear"></div>
	<footer>
		<p>&copy; Company 2012</p>
	</footer>
	
</div> <!-- /container -->


