 <div class="container">
	<h3>Drag n Drop Portal</h3>
	
	<div class="row">
		<div class="span4" data-region="1">
			<div class="blocksbox">
				<!--<div class="blocks article">
					<button type="button" class="close blockminimize" data-dismiss="blockminimize" aria-hidden="true"><i class="icon-angle-down"></i></button>					
					<h3 class="blocks-title">Block 1</h3>
					<div class="blocks-content editable" data-button-class="all" >
						<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
					</div>
				</div>-->
			</div>
		</div>
		<div class="span8" data-region="2">		
			<div class="blocksbox">
				<!--<div class="blocks article">
					<button type="button" class="close blockminimize" data-dismiss="blockminimize" aria-hidden="true"><i class="icon-angle-down"></i></button>
					<h3 class="blocks-title">Block 2</h3>
					<div class="blocks-content editable" data-button-class="all" >
						<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam.</p>
					</div>
				</div>
				<div class="blocks article">
					<button type="button" class="close blockminimize" data-dismiss="blockminimize" aria-hidden="true"><i class="icon-angle-down"></i></button>
					<h3 class="blocks-title">Block 3</h3>
					<div class="blocks-content editable" data-button-class="all" >
						<p>Sed posdsdsdtetur est at lobortis. Aenean eu leo quam.</p>
					</div>
				</div>-->
			</div>
		</div>
	</div>
</div> <!-- /container -->


