	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">S.O.S.</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
						<li><a href="#" id="modalbtn">Modal</a></li>
						<li class="dropdown">
						 <!--
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">Action</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li class="nav-header">Nav header</li>
								<li><a href="#">Separated link</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
							-->
						</li>
					</ul>
					<div class="btn-group pull-right">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
						<i class="icon-user"></i> admin	<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="#"><i class="icon-wrench"></i> Settings</a></li>
							<li><a href="#drag"><i class="icon-wrench"></i> Draggable</a></li>
							<li><a href="#drag2"><i class="icon-wrench"></i> Yet another Draggable</a></li>
							<li><a href="#editMode"><i class="icon-wrench"></i> Main</a></li>
							<li><a href="#left"><i class="icon-wrench"></i> Page Layout Left</a></li>
							<!--<li><a id="edit" href="#"><i class="icon-wrench"></i> Edit</a></li>-->
							<li><a id="edit" href="#edit"><i class="icon-wrench"></i> Edit</a></li>
							<li class="divider"></li>
							<li><a href="/zak3/"><i class="icon-share"></i> Logout</a></li>
						</ul>
					</div>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
