<div class="container">
 <div class="row">
	<div class="span12">
		<div class="cockpitadmin tabbable tabs-left">
			<ul class="nav nav-tabs">
                <li class="active"><a href="#lA" data-toggle="tab">Seiten</a></li>
                <li class=""><a href="#lB" data-toggle="tab">Layout</a></li>
                <li class=""><a href="#lC" data-toggle="tab">Inhalt</a></li>
			</ul>
			<div class="tab-content">
                <div class="tab-pane active" id="lA">
					<p>I'm in Section A.</p>
					<div class="row-fluid">
						<div class="span1">
							<p><a class="btn btn-primary btn-small btnview">View</a></p>
							<p><a class="btn btn-primary btn-small btnedit">Edit</a></p>
						</div>
						<div class="span7" >
							<div class="switch-container">
								<div class="switch" data-off="OFF" data-on="ON" data-toggle="switch">
									<span class="switch-track"></span>
									<span class="switch-thumb" data-on="ON" data-off="OFF"></span>
								</div>
							</div>
						
						</div>
					</div>
					
                </div>
                <div class="tab-pane" id="lB">
					<p>I'm in Section B.</p>
					<p><a class="btn btn-primary btn-small layoutbtn1">Layout 1</a></p>
					<p><a class="btn btn-primary btn-small layoutbtn2">Layout 2</a></p>
					<p><a class="btn btn-primary btn-small layoutbtn3">Layout 3</a></p>
					<p><a class="btn btn-primary btn-small layoutbtn4">Layout 4</a></p>
                </div>
                <div class="tab-pane" id="lC">
					<p><a class="btn btn-primary btn-small cockpitmodule">Text Module</a></p>
                </div>
			</div>
		</div>
	 </div>
 </div>
</div>